.idea/
.venv/
__pycache__/
OUTPUT_FILES/*
!OUTPUT_FILES/
temp/*
!temp/
outputs/*
!outputs/
Structures/**/*.log
Structures/**/*.net
Structures/**/*.raw
Structures/**/*.csv
algorithms/optimized_serial.txt
configs/Serial_exact.json
Simulation.log